<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben Holloway - UX Designer</title>
    <link rel="stylesheet" href="css/projects.css">
</head>
<body>
    <header>
        <div class="logo">
        <img 
            class="logoImg"
            src="images/B..png"
            alt="B.">
        </div>
        <div class="navLinks">
            <a href="index"><strong>Home</strong></a>
            <a href="about">About</a>    
            <a href="downloadables/BenHollowayResume.pdf" download>Resume</a>    
            <a href="index/#contact">Contact</a>    
        </div>
    </header>

    <div class="content">
        <div class="openingImg">
          <a href="secondhelper">
            <img
              class="mobileImg"
              src="images/second helper mobile header.png"
              alt="Second Helper Project Img"
            />
          </a>
          <a href="secondhelper">
            <img
              class="desktopImg"
              src="images/second helper desktop header.png"
              alt="Second Helper Project Img"
            />
          </a>
        </div>
  
        <div class="team">
          <div class="role">
            <h2>
              Role
            </h2>
            <p>
                #
            </p>
          </div>
          <div class="timeFrame">
            <h2>
              Time Frame
            </h2>
            <p>
                #
            </p>
          </div>
          <div class="client">
            <h2>
              Client
            </h2>
            <p>
                #
            </p>
          </div>
          <div class="teammates">
            <h2>
              Teammate
            </h2>
            <p>
                #
            </p>
          </div>
        </div>
  
        <div class="problemSpace">
          <h2>
            Identifying the Problem Space
          </h2>
          <p>

          </p>
        </div>
  
        <div class="problemSpaceImg">
          <img
            class="mobileImg"
            src="#"
            alt="#"
          />
          <img
            class="desktopImg"
            src="#"
            alt="#"
          />
        </div>
  
        <div class="problemSolving">
          <div class="barriers">
            <h2>
              Barriers to success
            </h2>
            <p>
.
            </p>
          </div>
          <div class="opportunities">
            <h2>
              Opportunities
            </h2>
            <p>
              
            </p>
          </div>
        </div>
        <div class="affect">
          <h2>
            
          </h2>
          <p>
            
          </p>
        </div>
  
        <div class="usersImg">
          <img 
              class="bothImg"
              src="#"
              alt="#">
        </div>
  
        <div class="personas">
            <h2>
                Personas
            </h2>
        </div>
        <div class="personaImg">
            <div class="personaOne">
              <img
              class="bothImg"
              src="#"
              alt="#">
            </div>
            <div class="personaTwo">
              <img
              class="bothImg"
              src="#"
              alt="#">
            </div>
        </div>
  
        <div class="journeyOne">
            <h2>
               
            </h2>
            <img
            class="bothImg"
            src="#"
            alt="#">
        </div>
        <div class="journeyTwo">
          <h2>
              
          </h2>
          <img
          class="bothImg"
          src="#"
          alt="#">
      </div>
  
      <div class="currentAvailability">
          <div class="optionOne">
              <h2>
                  
              </h2>
              
          </div>
      </div>
  
  </div>
    
    <footer>
        <div class="navLinks">
            <a href="index">Home</a>
            <a href="about">About</a>    
            <a href="resume">Resume</a>    
            <a href="index/#contact">Contact</a>    
        </div>
    </footer>
    
</body>
</html>